

header {
    background: #444;
    height: 100px;
    margin-bottom: 30px;
}


nav{
    margin: 0 auto;
    width: 960px;
}

nav img{

 margin-right: 25px;
 margin-top: 12px;
 float: left;
}


nav li{

    display: inline-block;
    margin-right: 70px;
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: grey;
}

main {
    width: 990px;
    margin: 0 auto;
}

main li {
    float: left;
    margin: 30px 30px 30px 0px;
}


section img{
    float: left;
    margin-left: 178px;
    margin-bottom: 30px;
   
}

section div{
    float: left;
    width: 50%;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
}

section h2{

    font-size: 18px;
    margin-bottom: 10px;
}

section p {
     height: 318px;
     margin-bottom: 10px;
     overflow: scroll;
     line-height: 22px;
     margin-right: 148px;
}

section button {
    padding: 10px 30px;
    background-color: black;
    color: white;
}


section button:hover{

    background-color: green;
}

footer{
    clear : both;
    height: 120px;
    background: #444;
}